<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
      
    <nav>
        <div class="nav-wrapper teal">
            <a href="#" class="brand-logo center "> Pokedex</a>

        </div>
    </nav>
    <router-outlet></router-outlet>


















    
    <!--
    <input 
    #input
    (keyup.enter)="selectpokemon(input.value)"
    type="number"  
    />
    <p *ngIf="pokemonSelected">
        Vous avez selectionne le pokemon: {{ pokemonSelected?.name}}
    </p>
    <p *ngIf="!pokemonSelected">
        Aucun pokemon n'a ete trouve pour le moment.
    </p>
-->

   


        
</body>
</html>